body {
  background-color: PowderBlue;
}
h1 {
  font-family: 'Bangers', cursive;
  color: darkblue;

}
p{
  font-family: 'Bangers', cursive;
  color: darkblue;
}
ul {
  list-style: none;
}
li{
  font-family: 'Shadows Into Light', cursive;
  color: blue;
}
#outer {
  width: 800px;
  border: .5px dotted blue;
}

#div1 {
  background-color: lightgray;
  width: 600px;

}
#div3 {
  float: right;
}

#textbox1 {
  width: 600px;
}
